body {
  font-family: 'Segoe UI', sans-serif;
 background: linear-gradient(to bottom, #fef9f5, #e6f0ff);
 /* background: linear-gradient(to bottom, #e9f3ff, #f9fafb);
 background: linear-gradient(to bottom, #f5f7fa, #ffffff);
 background: linear-gradient(to bottom, #e0f2ff, #f7fbff);
 background: linear-gradient(to bottom, #f9fafb, #e5e7eb);
*/




  
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.custom-datepicker {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #CBD5E0; /* Chakra gray.300 */
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
}

.custom-datepicker-tablica {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent; /* opcjonalnie */
}

.custom-datepicker:focus {
  outline: none;
  border-color: #3182CE; /* Chakra blue.500 */
  box-shadow: 0 0 0 1px #3182CE;
}


